{# Set counters #}
{% set kctl_counter_create = namespace(value=0) %}
{% set kctl_counter_update = namespace(value=0) %}
{% set kctl_counter_delete = namespace(value=0) %}
{% set kctl_counter_error = namespace(value=0) %}
{% set kctl_counter_existen = namespace(value=0) %}
{##}
Report:
{% if kctl_login_error is defined%}

    {{ '[ ERROR ]  '}}Code: {{ kctl_logon_response.json.error.code }} Message: {{ kctl_logon_response.json.error.message }}
{% set kctl_counter_error.value = kctl_counter_error.value + 1 %}
{%endif%}
{##}
{% if kctl_users_list_delete is defined %}

Users deletion report:

{% if kctl_users_delete_response.json.result[0].result %}
  {% for item in kctl_report_list_delete -%}
    {{ '[ D ]  ' }}User: {{ item.id }}  -  {{ item.user_name }}  -  {{ item.full_name }}
{% set kctl_counter_delete.value = kctl_counter_delete.value + 1 %}
  {% endfor %}
  {%- if kctl_users_delete_response.json.result[0].result.errors != [] -%} 
    {{ '[ ERROR ]  '}}{{ kctl_users_delete_response.json.result[0].result.errors }}
{% set kctl_counter_error.value = kctl_counter_error.value + 1 %}
  {% endif %}
{% else %}
  {{ '[ ERROR ]' }}
{% set kctl_counter_error.value = kctl_counter_error.value + 1 %}
{% endif%}

  {% if kctl_confirmation_delete.json.result.confirmed is defined %}
    {%- if kctl_confirmation_delete.json.result.confirmed -%}
      {{ '[ OK ]  '}}The users' configuration has been confirmed.
    {%- else -%}
      {{ '[ ERROR ]  '}}The users' configuration has not been confirmed.
{% set kctl_counter_error.value = kctl_counter_error.value + 1 %}
    {%- endif %}
  {%- else -%}
    {{ '[ ERROR ]  '}}The confirmation state of the new configuration for users is not defined.
{% set kctl_counter_error.value = kctl_counter_error.value + 1 %}
  {%- endif %}

{% endif %}
{##}
{% if kctl_users_list_update is defined %}

Users updation report:

{% if kctl_users_update_response.results %}
  {% for item in kctl_users_update_response.results %}
    {%- if item.json.result[0].result.errors == [] -%}
    {{ '[ U ]  ' }}{%- set kctl_counter_update.value = kctl_counter_update.value + 1 -%}
    {%- else -%}
    {{ '[Err]  ' }}{%- set kctl_counter_error.value = kctl_counter_error.value + 1 -%}
    {%- endif -%}
      User: {{ item.item.user_id[0] }}  -  {{ item.item.user_details.credentials.userName }}  -  {{ item.item.user_details.fullName }}
    {%- if item.json.result[0].result.errors != [] -%} 
      {{ '[ ERROR ]  '}}{{ item.json.result[0].result.errors }}
{% set kctl_counter_error.value = kctl_counter_error.value + 1 %}
    {%- endif %}

  {% endfor %}
{% else %}
  {{ '[ ERROR ]' }}
{% set kctl_counter_error.value = kctl_counter_error.value + 1 %}
{%- endif%}

  {% if kctl_confirmation_update.json.result.confirmed is defined %}
    {%- if kctl_confirmation_update.json.result.confirmed -%}
      {{ '[ OK ]  '}}The users' configuration has been confirmed.
    {%- else -%}
      {{ '[ ERROR ]  '}}The users' configuration has not been confirmed.
{% set kctl_counter_error.value = kctl_counter_error.value + 1 %}
    {%- endif %}
  {%- else -%}
    {{ '[ ERROR ]  '}}The confirmation state of the new configuration for users is not defined.
{% set kctl_counter_error.value = kctl_counter_error.value + 1 %}
  {% endif %}

{% endif %}
{##}
{% if kctl_users_list_create is defined %}

Users creation report:

{% if kctl_users_create_response.json %}
  {% for item in kctl_report_list_create -%}
    {{ '[ C ]  ' }}User: {{ item.id }}  -  {{ item.user_name }}  -  {{ item.full_name }}
{% set kctl_counter_create.value = kctl_counter_create.value + 1 %}
  {% endfor %}
  {%- if kctl_users_create_response.json.result.errors != [] -%} 
    {{ '[ ERROR ]  '}}{{ kctl_users_create_response.json.result.errors }}
{% set kctl_counter_error.value = kctl_counter_error.value + 1 %}
  {% endif %}
{% else %}
  {{ '[ ERROR ]' }}
{% set kctl_counter_error.value = kctl_counter_error.value + 1 %}
{%- endif%}

{% endif %}
{##}
{{ '____________________________________________________________________________________________________' }}

{% if kctl_user_list_exists is defined %}
All existing users on the Kerio Control host.

  {% for item in kctl_user_list_exists -%}
    User: {{ item.id }}  -  {{ item.user_name }}  -  {{ item.full_name }}
{% set kctl_counter_existen.value = kctl_counter_existen.value + 1 %}
  {% endfor %}

Total: {{ kctl_counter_existen.value }}
{{ '____________________________________________________________________________________________________' }}
{% endif %}

Delete: {{ kctl_counter_delete.value }}   Create: {{ kctl_counter_create.value }}   Update: {{ kctl_counter_update.value }}   Error: {{ kctl_counter_error.value }}

Start: {{ kctl_users_start_timestamp }}   End: {{ kctl_users_end_timestamp }}
{{ '____________________________________________________________________________________________________' }}
